/* @media screen and (min-width:740) and (max-width:1024px) {

    body {}
} */


@media (min-width: 320px) and (max-width: 740px) {
    body {
        grid-template-columns: 1fr;
    }
    header {
        height: auto;
        grid-template-columns: 1fr;
        padding: 0 3vh;
    }
    header p, footer, h1 {
        display: none;
    }
.intro {
    text-align: end;
}
    main {
        grid-template-columns: 1fr;
    }
    .col div img {
        object-fit:none;
        transition: .5s ease-in-out;
    }
    .col:hover div img{
        transform: none;
    }
   
    .h-2 {
        grid-row: span 1;
    }
}