* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../fontfamily/Ubuntu-Light.ttf');
}

body {
    font-family: Ubuntu, sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* Grid dans le header: pour séparer logo/nav/footer */
header {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 3, 5fr 1fr;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
}

/* Eléments du header */
.intro img {
    width: 70px; /* taille du logo */
}

h1 {
    font-size: 1rem; /* Taille titre du site */
}
.intro p, li {
    padding: 10px 0; /* espace entre les liens menus et intro*/
}
footer p {
    padding-top: 8px; /* espace entre lignes*/
}
p,a {
    font-size: 14px;
    color: black;
    /* taille et couleur de police */
}
.intro p, footer p:first-child {
    color: grey; /* couleur de police gris */
}

a,footer p:last-child {
    font-weight: bold;
    /* en gras: liens menus, dernier p */
}
/* Icones fontawesome */
.social i {
    padding-right: 15px;
    padding-bottom: 5px;
}
/* Fin header */